/*!	CSS von christian@bienmueller.de 
	Gibt das Basis-Design von tabula.info V2 vor
    frontend, backend sowie lokale Anpassungen werden danach geladen
    * 
	Dieses CSS darf gerne zu beliebigem Zweck uebernommen werden	
*/

/* latin-ext */
@font-face {
  font-family: 'RobotoFlex';
  font-style: oblique 0deg 10deg;
  font-weight: 100 1000;
  font-stretch: 25% 150%;
  font-display: swap;
  src: url('../fonts/RobotoFlexLatinExt.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'RobotoFlex';
  font-style: oblique 0deg 10deg;
  font-weight: 100 1000;
  font-stretch: 25% 150%;
  font-display: swap;
  src: url('../fonts/RobotoFlexLatin.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 100 700;
  font-display: swap;
  src: url('../fonts/RobotoMonoLatinExt.woff2') format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 100 700;
  font-display: swap;
  src: url('../fonts/RobotoMonoLatin.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    height: 100%;
    font-family: 'RobotoFlex', 'liberation sans', arial, sans-serif;
}

.bigger { font-size: 110%; }

/***********************************************
 *                                             *
 *           Neu verteilt durch V2             *
 *                                             *
 ***********************************************/

/***********************************************
 *                                             *
 *                  Neu in V2                  *
 *                                             *
 ***********************************************/
/* Klassen für die grobe Aufteilung in neuer Oberfläche */
html, body {  height:100%;
    padding:0;
    margin:0;}
.tiP_Content {width:73%; width: calc(74% - 4px); height:100%; float:left; margin:1px;}
.tiP_Row     {width:49.5%; width: calc(50% - 2px); height:100%; float:left; margin:1px;}
.tiM_Content {width:26%; height:100%;              float:right;margin:1px;}
.tiM_Square { width:100%; height: 45%; height: calc(46% - 2px);background-color:white; border: solid blue 1px;margin:1px;}
.tiM_Status { width:100%; height: 1.2em;  
            border: solid #555 1px;margin:0px;padding:4px;
            background-color:#AAA; color:#FFF; 
            font-weight:bold;
            text-shadow: 0px 0px 3px #000000;}
.tiM_Square { overflow:hidden;} /*position:fixed;}*/

div.overlap_right {
  position: absolute;
  top: 4px;
  right: 4px;
  width: auto;
  height: auto;
  border: 0;
  z-index:5;

}

#alerter { width:1.2em; display: inline-block;text-align:center;}
.plan_iframe {
    width:100%;
    height:100%;
    border:0;
    overflow:hidden;
}
/* Neues Design für ALLE Messages */
.messages .datumdiv, 
.messages .breitdiv {float:left;width: 4.7em;background-color:#e6e6e6;border-style:solid;border-color:darkgrey;text-align:center;}
.messages .breitdiv {width: 10em; font-size:70%;}
.messages .tagspan { font-size:200%; font-weight:bold;} 
.messages .minitagspan { font-size:80%; font-weight:300;} 
.messages .meldungdiv {float:left;width:80%;width:calc(100% - 4.7em - 20px);padding-left:4px;}
.messages .enddiv {clear:left}

.content table { width: 100% }

.cal_event,             /* Events */
.cal_event_multi {       /* Events an Fortsetzungstagen */
  border-radius: 8px;
  font-size:110%;
  background: Aquamarine;
  color: Navy;
  padding: 0px 9px; /*top/bottom  left/right*/
}

.cal_event {
  font-weight: 400 !important;
  padding: 2px 10px;
}

.cal_event_multi {
  font-size:90%;
}

.condensed {
    font-family: 'RobotoFlex', 'Liberation Sans Narrow';
    font-weight: normal;
    font-stretch: 30%;
    font-weight: 300;
}

.italic {
    font-style: italic; font-weight: 300;
}

td.italic {
    padding-right: 3px;
}

.capitalized_caps {
  text-transform: capitalize;
  font-variant: small-caps;
}
